<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div style="position: absolute; width: 350px; height: 135px; background-color: #007f88; border-radius: 5px; padding: 7px">
            <div style="position: absolute; width: 335px; height: 60px; background-color: #fff; border-radius: 3px;">
                
            </div>
            <div style="margin: 68px 0px; position: absolute; padding: 3px; width: 250px; height: 53px; background-color: #00afbb; border-radius: 3px; color: #fff">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" style="color: #222" id="captcha_" placeholder="Digite as palavras acima...">
                </div>
            </div>
            <span class="btn btn-primary btn-lg" style="margin: 75px 260px;">
                    <i class="glyphicon glyphicon-refresh"></i>
            </span>
        </div>
    </body>
</html>
